# Assignment 1 Day 2

# LIST and its default functions

In [160]:
lst=["Rakshanda",1234,45,[1,2,3]]
lst

['Rakshanda', 1234, 45, [1, 2, 3]]

In [161]:
lst.insert(0,23)
lst

[23, 'Rakshanda', 1234, 45, [1, 2, 3]]

In [162]:
lst.remove(23)
lst

['Rakshanda', 1234, 45, [1, 2, 3]]

In [60]:
lst.append("abc")
lst

['Rakshanda', 1234, 45, [1, 2, 3], 'abc']

In [61]:
lst.pop()
lst

['Rakshanda', 1234, 45, [1, 2, 3]]

In [64]:
lst.index(1234)

1

In [65]:
lst.clear()
lst

[]

# Dictonary and its default functions

In [69]:
d={"fruit" : "Mango","cost":30,"discount":10}
d

{'fruits': 'Mango', 'cost': 30, 'discount': 10}

In [86]:
d.setdefault("fruits")

'Mango'

In [74]:
d.keys()

dict_keys(['fruits', 'cost', 'discount'])

In [75]:
d.values()

dict_values(['Mango', 30, 10])

In [77]:
d.pop("discount")

10

In [78]:
d

{'fruits': 'Mango', 'cost': 30}

In [85]:
d1={"discount":10}
d.update(d1)
d

{'fruits': 'Mango', 'cost': 30, 'discount': 10}

In [88]:
d1=d.copy()
d1

{'fruits': 'Mango', 'cost': 30, 'discount': 10}

In [90]:
d1.clear()
d1

{}

In [91]:
d.popitem()

('discount', 10)

# Sets and its default function

In [109]:
s={34,"abc","hello",5,1,10}
s

{1, 10, 34, 5, 'abc', 'hello'}

In [114]:
s1={4,"abc",5,10}
s.difference(s1)

{1, 34, 'hello'}

In [118]:
s1.difference_update(s)
s1

{4}

In [119]:
s1.add("abc")
s1

{4, 'abc'}

In [120]:
s1.intersection(s)

{'abc'}

In [124]:
s1.intersection_update(s)
s1

{'abc'}

In [125]:
s1.issubset(s)

True

In [126]:
s.issuperset(s1)

True

# Tuple and explore its method

In [136]:
t=("name","id",20,60,60)
t

('name', 'id', 20, 60, 60)

In [133]:
t.count(60)

2

In [137]:
t.index("id")

1

# String and its default methods

In [144]:
string="hello world"
string

'hello world'

In [145]:
string.capitalize()

'Hello world'

In [146]:
string.upper()

'HELLO WORLD'

In [149]:
string.endswith("o")

False

In [151]:
string.startswith('h')

True

In [153]:
string.find("o")

4

In [158]:
string.isalnum()

False